<!DOCTYPE html>
<html data-theme="retro" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6f34e3d583.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    

    <title>Results</title>
</head>
<body  class="oswald-reg">
  <%- include("partials/nav.ejs") %>

     
     <main class="flex flex-col gap-4 items-center text-center" data-id="<%=data.meals[0].idMeal%>">
  
        <!-- <section class=" flex flex-col gap-y-8 container mx-auto px-8"> -->
          
            <!-- <div class="flex flex-col gap-y-2 p-4" data-id="<%=data.meals[0].idMeal%>"> -->
              
                
                  <h1 class=" primary text-4xl font-bold"><%=data.meals[0].strMeal%> (<%=data.meals[0].strArea%>)</h1>

                  <img src="<%= data.meals[0].strMealThumb %>" class="rounded-md " width="200px" alt="">

                  <form method="POST" action="/search/addRecipes" data-name= "<%= data.meals[0].strMeal %>" data-img="<%= data.meals[0].strThumb %>" class="w-100">
                    <input type="hidden" name="recipeId" value="<%= data.meals[0].idMeal %>" /> 
                    <input type="hidden" name="recipeName" value="<%= data.meals[0].strMeal %>" /> 
                    <input type="hidden" name="recipeImg" value="<%= data.meals[0].strMealThumb %>" />
                    <input type="hidden" name="recipeType" value="<%= data.meals[0].strCategory %>" />
                    <input type="submit" class="btn btn-lg btn-accent placeholder-black" value="Save Recipe" >

                    </input> 
                    
                  </form>
                <!-- </div> -->
                <!-- <div class="self-center"> -->
                    

              <!-- </div> -->
                <div class="flex flex-col  md:flex-row lg:flex-row gap-4" >
                    <div class=" bg-secondary rounded-md p-4 "> 
                        <h5 class="text-lg font-bold">Ingredients:</h5>
        
                        <% let ingredient %>
                        <ul class="py-2 px-3 flex flex-col items-start">
                            
                            <% for (let i = 1 ; i <= 20 ; i++) { %>
                              
                                <% ingredient = `strIngredient${i}` %>   
                                <% if(data.meals[0][ingredient]){ %>
                                    <li class=" hover:text-white active:bg-violet-700 p-1 text-left">
                                       
                                        <span><%=data.meals[0][ingredient]%></span> 
                                        <span class="">  
                                          <% if (data.meals[0][`strMeasure${i}`]) { %>
                                              ( <%= data.meals[0][`strMeasure${i}`]%> )
                                         <% } else {%>
                                              <%= data.meals[0][`strMeasure${i}`]%>
                                        <% } %>
                                          </span>
                                    </li>
                                    
                              <% } else { %>
                                <%    break     %>
                                <% } %>
                            <% } %>
                        
                        </ul>
                    
        
                    </div>
                    <div class="bg-secondary rounded-md p-4">
                      <h4 class="text-lg font-bold">Instructions:</h4>
                      <% let instructions = data.meals[0].strInstructions %>
                      <%  const splitSent = sent => sent.split('.')%>
                      <ol class="text-wrap">
                          <% splitSent(instructions).forEach(x  => { %>
                          <%   if(x){     %>
                                  <li class=" hover:text-white active:bg-violet-700 "> <%= x %> </li>
                          <%   } %>
                              
                        <%  }) %>
                      </ol>
    
                    </div>
                </div>

                  
                  
                <!-- </div> -->

               
            <!-- </div> -->

            <!-- </section> -->
     </main>
     <%- include("partials/footer.ejs") %>
    
</body>
</html>
