<!DOCTYPE html>
<html data-theme="retro"ang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Your Recipes</title>
</head>
<body data-theme="retro">
  <%- include("partials/nav.ejs") %>

<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 bg-base-200">
      <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32 ">
        <h2 class= " text-2xl font-bold text-gray-900 <%= recipes.length ? 'text-center' : 'font-bold' %>  " > <%= recipes.length ? "Your Saved Recipes" : "Add Recipes!" %></h2>
  
        <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
            
        
          <% recipes.forEach( el => { %>
            <div class="group relative recipeItem" data-id='<%=el.recipeId%>' >
                <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
                  <a href="/search/getRecipes/<%=el.recipeId%>">
                    <img src="<%= el.recipeImg %>" alt="meal img" class="h-full w-full object-cover object-center">
                  </a>
                  
                </div>
                <h3 class="mt-6 text-sm text-gray-500">
                 
                   <%= el.recipeType ? el.recipeType : 'Meal' %>
                </h3>
                <p class="text-base font-semibold text-gray-900"><%= el.recipeName %></p>
               
                <div >
                  <form data-doc="<%=el._id%>" action="/userRecipes/deleteRecipe" method="POST" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="recipeDocId" value="<%=el._id%>" /> 

                    <input class="btn btn-outline btn-error btn-sm" type="submit" value="delete">
                    
                  </form>

                </div>
              </div>

    <% }) %>   

        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>
</html>